.Btn {
    font-size: 40px !important;
    padding-top: 0px !important; 
    width: 100% !important;
}

.Occupied {
    cursor: not-allowed !important;
}

.BtnDefault {
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    color: #ccc !important;
}