.Cell {
    float:left;
    padding:0;
    list-style:none;
    text-align:center;
    margin-bottom:20px;
    color:#fff;
    height:60px;
    line-height:60px;
    font-size:40px;
    color:#ccc;

    width:93px;
}